<div class="card mt-5">
    <div class="card-body note_color">
        <h1>Nombre de los desarrolladores</h1>
        <hr>
        <p>Gema Guadalupe Pelaez Diaz</p>
        <p>Melquicedec Aguilar Gonzalez</p>
        <p>Ian Imanol Uribe Montoya</p>
        <p>Luis Enrique Espitia Naves</p>
    </div>
</div>

