<div class="card">
    <div class="card-body">
        <h1>Sobre nosotros</h1>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ab porro nulla ut officiis explicabo facere animi repudiandae molestiae deleniti praesentium autem eveniet optio architecto, libero delectus dolore suscipit eum qui.</p>
    </div>
</div>

