<div class="card mt-5">
    <div class="card-body note_color">
        <h1>Nombre de los desarrolladores</h1>
        <hr>
        <p>Gema Guadalupe Pelaez Diaz | Encargada de documentacion | correo: gema@gmail.com</p>
        <p>Melquicedec Aguilar Gonzalez | Encargado de Fron end | correo: melquiceded@gmail.com</p>
        <p>Ian Imanol Uribe Montoya | Encargado de investigacion de inyecciones nosql y apoyo en documentacion | correo: uribe@gmail.com</p>
        <p>Luis Enrique Espitia Naves | Encargado de la pusta en marcha de la aplicacion | correo: espitia@gmail.com</p>
    </div>
</div>

