<div class="display-4">
    <h1 class="display 4">Proyecto Seguridad Informatica</h1>
    <p class= "lead">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quo quisquam, officiis non architecto recusandae amet delectus quod natus dolorum necessitatibus totam nesciunt molestias omnis provident dolor similique cumque officia aperiam!</p>
    <hr class = "my-4">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore, eos nulla ipsa architecto vel repudiandae provident dolor quis atque, labore cum harum dignissimos sit beatae numquam placeat aspernatur. Perferendis, eos!</p>
    <a href="http://ikneel.github.io/web-1/" class="btn btn-primary btn-lg">Ikneel</a>
</div>