
<div class="row">
    {{#each notas}}
        <div class="col-md-3">
            <div class="card">
                <div class="card-body">
                    <h4 class= "card-title">

                       {{titulo}}
                    </h4>
                    <p>{{descripcion}}</p>
                </div>
            </div>
        </div>
    {{/each}}
</div>
